.button-theme {
    background: var(--primary-color);
    border-radius: 6px;
    padding: 8px 20px 9px;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    font-weight: 500;
    border: 0;
}

.button-theme:hover {
    background: var(--primary-hover);
    color: var(--bs-white);
}

.button-theme i {
    margin-left: 8px;
    margin-bottom: 1px;
    align-self: flex-end;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    position: sticky;
    background: var(--bs-white);
    transition: var(--transition-default);
}

.header.is-scroll {
    transform: translateY(-102px);
}

.header-top {
    padding: 10px 0;
    position: relative;
    z-index: 2;
}

.header-top .header-inner {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top .header-logo {
    width: 30%;
}

.header-top .header-image {
    width: 40%;
    text-align: center;
}

.header-top .header-action {
    width: 30%;
}

.header-top .header-action .header-action_top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.header-top .header-action .header-action_item {
    position: relative;
    white-space: nowrap;
}

.header-top .header-action .header-action_item + .header-action_item {
    padding-left: 20px;
    margin-left: 20px;
}

.header-top .header-action .header-action_item > a {
    color: var(--bs-gray-800);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    gap: 5px;
}

.header-top .header-action .header-action_item > a > img {
    width: 18px;
}

.header-top .header-action .header-action_item > a > span {
    transition: .3s transform ease-in-out;
}

.header-top .header-action .header-action_item:hover > a {
    color: var(--primary-color);
}

.header-top .header-action .header-action_item:hover > a > span {
    transform: rotate(180deg);
}

.header-top .header-action .header-action_item + .header-action_item:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    box-shadow: inset 1px 1px var(--bs-gray-400);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header-top .header-action .header-action_mobile {
    display: none;
}

.header-top .header-action .header-action_bottom {
    padding-top: 8px;
    margin-top: 8px;
    text-align: center;
    border-top: 1px solid var(--bs-gray-400);
}

.header-top .header-action .header-action_item > ul {
    position: absolute;
    border-radius: 0;
    border: 1px solid var(--bs-gray-400);
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    will-change: transform;
    right: 0px;
    top: 100%;
    background-color: var(--bs-white);
    min-width: 150px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    list-style: none;
    margin-bottom: 0;
}

.header-top .header-action .header-action_item > ul:before {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background: transparent;
    width: 100%;
    display: block;
    content: "";
}

.header-top .header-action .header-action_item > ul > li > a {
    color: #212529;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3px;
    padding: 7px 12px;
    border-radius: 0;
    font-size: 1em;
    width: 100%;
}

.header-top .header-action .header-action_item > ul > li > a > img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.header-top .header-action .header-action_item:hover > ul {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-top .header-action .header-action_item > ul > li:hover > a {
    color: var(--primary-color);
    background-color: #f7f8fa;
}


.header-bottom .header-navigation ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-bottom .header-navigation > ul {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

.header-bottom .header-navigation > ul > li {
    position: relative;
}

.header-bottom .header-navigation > ul > li > a,
.header-bottom .header-navigation > ul > li > button {
    color: var(--bs-white);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    gap: 3px;
    padding: 15px 10px 11px;
    font-size: 1.075em;
    text-transform: uppercase;
    border: 0;
    border-bottom: 4px solid transparent;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100%;
    white-space: nowrap;
}

.header-bottom .header-navigation > ul > li > a > i {
    font-size: .925em;
    -webkit-transition: .3s transform ease-in-out;
    -o-transition: .3s transform ease-in-out;
    transition: .3s transform ease-in-out;
}

.header-bottom .header-navigation > ul > li > ul > li > a,
.header .header-navigation > ul > li > ul > li > button {
    color: #212529;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    gap: 3px;
    padding: 10px 12px;
    border-radius: 0;
    font-size: 1.075em;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100%;
}

.header-bottom .header-navigation > ul > li > ul > li + li > a {
    border-top: 1px dotted var(--bs-gray-200);
}

.header-bottom .header-search {
    position: relative;
}

.header-bottom .header-search .header-search_button {
    border: 0;
    background-color: var(--secondary-color);
    height: 32px;
    width: 32px;
    border-radius: 4px;
    color: var(--bs-white);
    font-size: 1.075em;
}

.header-bottom .header-search .header-search_button:hover {
    background-color: var(--secondary-hover);
}

.header-bottom .header-search .header-search_form {
    background-color: var(--bs-white);
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(100% + 10px);
    right: -5px;
    min-width: 375px;
    padding: 5px 5px;
    border-radius: 4px;
    -webkit-box-shadow: 0 12px 30px rgba(45, 56, 68, .05);
    box-shadow: 0 12px 30px rgba(45, 56, 68, .05);
    border: 1px solid var(--bs-gray-300);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-default);
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
}

.header-bottom .header-search .header-search_form .form-control {
    border: 0 !important;
    box-shadow: none !important;
    outline: none;
    background-color: var(--bs-white);
    font-size: 1em;
    padding: 0;
    padding-left: 5px;
}

.header-bottom .header-search.is-search .callSearch > i:before {
    content: "\f00d";
}

.header-bottom .header-search.is-search .header-search_form {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.section-heading {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.section-heading .heading-title {
    color: var(--bs-black);
    font-weight: 700;
    font-size: 1.9em;
    position: relative;
    margin-bottom: 0;
}

.section-heading .heading-desc {
    font-size: 1.075em;
    color: var(--bs-gray-800);
    line-height: 1.6
}

.section-heading .heading-desc p {
    margin-bottom: 12px;
}

.section-heading .heading-desc p:last-child {
    margin-bottom: 0;
}

.section-heading .heading-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-heading .heading-links .links-item {
    border-radius: 4px;
    border: 1px solid var(--bs-gray-400);
    background: rgba(8, 103, 173, 0.05);
    margin: 0;
    font-size: 0.925em;
    padding: 5px 14px;
    font-weight: 400;
    color: var(--bs-black);
    white-space: nowrap;
}

.section-heading .heading-links .links-item:hover {
    color: var(--bs-white);
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.slider-theme .slider-pagination {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 2;
}

.slider-theme .slider-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid var(--bs-white);
    border-radius: 50%;
    opacity: .4;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: transparent;
    margin: 0;
}

.slider-theme .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--bs-white);
}

.slider-theme .slider-buttons [class*=slider-button] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition-default);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    border: 2px solid var(--bs-white);
    border-radius: 50%;
    font-size: 2.15em;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider-theme .slider-buttons.slider-buttons_light [class*=slider-button] {
    border: 2px solid var(--bs-white);
    background-color: rgba(0, 0, 0, .25);
    color: var(--bs-white);
}

.slider-theme .slider-buttons [class*=slider-button]:hover {
    color: var(--bs-white);
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.slider-theme .slider-buttons .slider-button_prev {
    left: 3%;
}

.slider-theme .slider-buttons .slider-button_next {
    right: 3%;
}

.slider-theme:hover .slider-buttons .slider-button_prev {
    left: 2%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.slider-theme:hover .slider-buttons .slider-button_next {
    right: 2%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.slider-theme.slider-theme_second .slider-buttons .slider-button_prev {
    left: -10px;
}

.slider-theme.slider-theme_second .slider-buttons .slider-button_next {
    right: -10px;
}


.slider-theme.slider-theme_second:hover .slider-buttons .slider-button_prev {
    left: -20px;
}

.slider-theme.slider-theme_second:hover .slider-buttons .slider-button_next {
    right: -20px;
}

.section-gap {
    padding: 50px 0;
}

.section-page .section-gap {
    padding: 30px 0;
}

.section-gap + .section-gap {
    padding-top: 0;
}

.section-banner .swiper-slide > a {
    width: 100%;
}

.section-gallery .gallery-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.section-gallery .ratio {
    overflow: hidden;
}

.section-gallery .ratio:before {
    --bs-aspect-ratio: calc(720 / 960 * 100%);
}

.section-gallery .ratio > img {
    transition: var(--transition-default);
}

.section-gallery .gallery-item .gallery-item_title {
    font-size: 1.075em;
    color: var(--bs-white);
    font-weight: 700;
    line-height: 1.4;
    margin-top: 12px;
    display: block;
    width: 100%;
    transition: var(--transition-default);
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgba(0, 0, 0, .7);
    text-align: center;
}

.section-gallery .gallery-item:hover .gallery-item_title {
    transform: translateY(0);
}

.section-gallery .gallery-item:hover .ratio > img {
    opacity: .8;
    transform: scale(1.05);
}

.section-gallery .gallery-item .gallery-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    color: var(--bs-white);
    background: rgba(0, 0, 0, .2);
    border: 2px solid var(--bs-white);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    transition: var(--transition-default);
}

.section-gallery .gallery-item:hover .gallery-icon {
    transform: translate(-50%, -50%) scale(1.2);
}

.article-horizontal {
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.article-horizontal .article-avatar {
    width: 33%;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.article-horizontal .article-content {
    margin-left: 10px;
    align-self: flex-start;
}

.article-horizontal .article-title {
    font-weight: 700;
    color: var(--bs-gray-900);
    font-size: 1em;
    transition: var(--transition-default);
}

.article-horizontal .article-title .article-badge {
    background: var(--secondary-color);
    color: var(--bs-white);
    font-size: .775em;
    font-weight: 400;
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    display: inline-flex;
}

.article-horizontal .article-title .limit {
    --line: 3;
}

.article-horizontal:hover .article-title {
    color: var(--primary-hover);
}

.article-horizontal:hover .article-avatar > img {
    opacity: .8;
    transform: scale(1.05);
}

.articles-list .article-horizontal + .article-horizontal {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px dotted var(--bs-gray-400);
}

.article-vertical {
    position: relative;
    overflow: hidden;
}

.article-vertical .article-avatar {
    overflow: hidden;
    position: relative;
}

.article-vertical .article-avatar .article-badge {
    background: var(--secondary-color);
    color: var(--bs-white);
    font-size: .925em;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 0;
    left: 15px;
    width: auto;
    height: auto;
    box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
}

.article-vertical .article-content {
    margin-top: 10px;
}

.article-vertical .article-title {
    font-weight: 700;
    color: var(--bs-black);
    font-size: 1.15em;
    transition: var(--transition-default);
}

.article-vertical .article-title .limit {
    --line: 2;
}

.article-vertical .article-text {
    margin-top: 8px;
    --line: 3;
    line-height: 1.6;
}

.article-vertical .article-text > p {
    margin-bottom: 8px;
}

.article-vertical .article-text > p:last-child {
    margin-bottom: 0;
}

.article-vertical + .articles-list {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px dotted var(--bs-gray-400);
}

.article-vertical:hover .article-title {
    color: var(--primary-hover);
}

.article-vertical:hover .article-avatar > img {
    opacity: .8;
    transform: scale(1.05);
}

.footer {
    padding: 30px 0;
    background-color: var(--primary-color);
}

.footer-title {
    margin-bottom: 15px;
    max-width: 97%;
}

.footer-title > span {
    display: inline-block;
    color: var(--bs-white);
    font-weight: 700;
    font-size: 1.225em;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.footer-title > span:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #c4c4c4;
    border-right: 6px solid var(--primary-color);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-list .footer-list_item {
    color: var(--bs-white);
    font-size: 1.075em;
}

.footer-list .footer-list_item .footer-list_item__icon > i {
    width: 15px;
    text-align: center;
}

.footer-list .footer-list_item .footer-list_item__value {
    font-weight: 700;
}

.footer-list .footer-list_item > a {
    color: inherit;
}

.footer-list .footer-list_item > a:hover {
    opacity: .8;
}

.footer-iframe {
    width: 100%;
    overflow: hidden;
}

.footer-statistical {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-statistical .footer-statistical_item {
    color: var(--bs-white);
    font-size: 1.075em;
}

.footer-statistical .footer-statistical_item > i {
    width: 15px;
    text-align: center;
}

.footer-statistical_count {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
}

.footer-statistical_count > span {
    border-radius: 4px;
    padding: 4px 8px;
    color: var(--bs-white);
    background-color: var(--bs-gray-700);
    font-weight: 700;
    font-size: 1.3em;
}

.footer-social {
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.footer-social .footer-social_item > img {
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.section-breadcrumb {
    background-color: var(--bs-white);
}

.section-breadcrumb .breadcrumb .breadcrumb-item {
    color: var(--bs-gray-600);
    display: inline-flex;
    padding: 9px 0;
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a {
    color: var(--bs-gray-800);
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a i {
    line-height: unset;
}

.section-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    float: none;
    margin-left: 8px;
    padding-right: 8px;
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a:hover {
    color: var(--primary-color);
}

.section-pagination {
    margin-top: 30px;
}

.section-pagination .pagination {
    margin-bottom: 0;
    justify-content: center;
}

.section-pagination .pagination .page-item {
    margin: 0 4px;
}

.section-pagination .pagination .page-item .page-link {
    border: 1px solid var(--bs-gray-200);
    color: var(--bs-gray-700);
    border-radius: 0;
    margin-left: 0;
    padding: 6px 14px 6px;
    font-size: 1em;
}

.section-pagination .pagination .page-item .page-link:focus {
    box-shadow: none;
}

.section-pagination .pagination .page-item.active .page-link {
    color: var(--bs-white);
    background-color: var(--primary-color);
}

.article-sidebar .article-sidebar_item .section-heading {
    margin-bottom: 10px;
}

.article-sidebar .article-sidebar_item .section-heading .heading-title {
    font-size: 1.525em;
}


.article-sidebar .article-sidebar_item .article-sidebar_item__body {
    padding: 12px;
    border: 1px solid var(--bs-gray-300);
}

.article-sidebar .article-sidebar_item .article-sidebar_item__body .article-horizontal .article-title {
    font-size: 1em;
}

.article-sidebar .article-sidebar_item .article-sidebar_item__body .article-horizontal .article-title .limit {
    --line: 2;
}

.article-sidebar .article-sidebar_item + .article-sidebar_item {
    margin-top: 20px;
}

.section-page .section-heading {
    margin-bottom: 12px;
}

.section-card {
    border: 1px solid var(--bs-gray-300);
    border-radius: 4px;
    overflow: hidden;
}

.section-card + .section-card {
    margin-top: 20px;
}

.section-card .card-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.45em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.section-card .card-desc .card-desc_item:first-child {
    margin-top: 0;
}

.section-card .card-desc .card-desc_item {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.section-card .card-desc .card-desc_item .icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bs-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.15em;
    flex-shrink: 0;
    margin-right: 8px;
}

.section-card .card-desc .card-desc_item .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-card .card-desc .card-desc_item .content .title {
    font-weight: 700;
    color: var(--bs-gray-900);
    text-transform: uppercase;
    font-size: 1em;
}

.section-card .card-desc .card-desc_item .content .text {
    color: var(--bs-gray-700);
}

.section-card .card-desc .card-desc_item .content .text > a {
    color: inherit;
    text-decoration: none;
    transition: var(--transition-default);
}

.section-card .card-desc .card-desc_item .content .text > a:hover {
    color: var(--primary-color);
}

.section-card .card-map iframe {
    width: 100%;
    vertical-align: middle;
}

.section-form .form-floating > label {
    color: var(--bs-gray-600);
}

.section-form .form-floating > .form-control {
    height: calc(3.25rem + 2.5px);
    padding-top: .95rem;
}


.service-card {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #f3f3f3;
    border: 1px solid var(--bs-gray-300);
    transition: var(--transition-default);
}

.service-card .service-card_icon {
    width: 55px;
    height: 55px;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-default);
    flex-shrink: 0;
}


.service-card .service-card_title {
    font-size: 1.15em;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 10px;
    transition: var(--transition-default);
}

.service-card:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.service-card:hover .service-card_icon {
    background: var(--secondary-color);
}

.service-card:hover .service-card_title {
    color: var(--bs-white);
}

.port-item {
    border: 1px solid var(--bs-gray-400);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 12%);
    text-align: center;
    background: var(--bs-white);
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    transition: var(--transition-default);
}

.port-item .port-item_image {
    margin: 0 auto;
    width: 82px;
    height: 82px;
    position: relative;
}

.port-item .port-item_image > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.port-item .port-item_image .port-item_image__front {
    opacity: 1;
    visibility: visible;
}

.port-item .port-item_image .port-item_image__back {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.port-item .port-item_title {
    font-size: 1.15em;
    color: var(--bs-black);
    font-weight: 700;
    margin-left: 10px;
    transition: var(--transition-default);
    margin-top: 15px;
}

.port-item:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.port-item:hover .port-item_title {
    color: var(--bs-white);
}

.port-item:hover .port-item_image .port-item_image__front {
    opacity: 0;
    visibility: hidden;
}

.port-item:hover .port-item_image .port-item_image__back {
    opacity: 1;
    visibility: visible;
}

.section-introduction {
    background: rgba(var(--primary-rgb), 0.075);
    margin-bottom: 50px;
    padding-top: 50px !important;
}

.section-introduction .section-heading {
    gap: 20px;
}

.section-introduction .section-heading .heading-title {
    color: var(--primary-color);
}

.section-introduction .introduction-images {
    display: flex;
    gap: var(--bs-gutter-x);
}

.section-introduction .introduction-images .introduction-images_item {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}

.section-introduction .introduction-images .introduction-images_item:nth-child(2) {
    flex-direction: column-reverse;
}

.section-introduction .introduction-images .introduction-images_item .introduction-images_item__title {
    font-size: 1.15em;
    color: var(--primary-color);
    font-weight: 700;
}

.section-introduction .introduction-images .introduction-images_item .introduction-images_item__img > img {
    transition: var(--transition-default);
}

.section-introduction .introduction-images .introduction-images_item:hover .introduction-images_item__img > img {
    transform: scale(1.05);
}

.partner-item {
    background: var(--bs-white);
    border: 1px solid var(--bs-gray-400);
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appointment-card {
    box-shadow: 0px 24px 40px rgba(3, 110, 178, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.appointment-card .card-header {
    background: var(--primary-color);
    padding: 30px 24px;
}

.appointment-card .card-header .section-heading {
    gap: 15px;
    text-align: center;
    margin-bottom: 0;
}

.appointment-card .card-header .section-heading .heading-title {
    color: var(--bs-white);
}

.appointment-card .card-header .section-heading .heading-desc {
    color: #f1f1f1;
    font-size: 1.15em;
    padding: 0 72px;
}

.appointment-card .card-body {
    border: 1px solid #e1e1e1;
    border-top: 0;
    padding: 24px;
    background: var(--bs-white);
    border-radius: 0 0 10px 10px;
}

.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.appointment-form .appointment-form_item {
    width: 100%;
    position: relative;
}

.appointment-form .appointment-form_item .appointment-form_field {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.075em;
    color: var(--bs-black);
}

.appointment-form .appointment-form_item .appointment-form_field::placeholder {
    opacity: .7;
}

.appointment-form .appointment-form_item .appointment-form_field:focus {
    border-color: var(--bs-gray-400) !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15) !important;
    outline: none !important;
}


.appointment-form .appointment-form_item .appointment-form_icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    height: calc(100% - 6px);
    width: 30px;
    font-size: 1.075em;
    color: var(--bs-black);
    background: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;
}